.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.profileImageContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logo {
  height: 46px;
}

.username {
  margin-left: 10px;
  font-weight: bold;
}
