.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.profileImageContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logo {
  height: 46px;
}

.username {
  margin-left: 10px;
  font-weight: bold;
}

.iconLink {
  display: flex;
  color: #333;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.iconLink:hover {
  background-color: #f0f0f0;
  color: #000;
}

.tabContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
