* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #e9ecef;
}

.toolbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin: 0;
}

.content {
  max-width: 500px;
  min-height: 550px;
}

.title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.action-container {
  margin-top: 2.3rem;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.action-button {
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  width: -webkit-fill-available
}

.create-account {
  background-color: #007bff;
  color: white;
}

.login {
  background-color: #343a40;
  color: white;
}

.create-account:hover,
.login:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.separator {
  color: #333;
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.75rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }

  .action-button {
    width: 90%;
  }

  .title {
    font-size: 1.5rem;
  }
}